@media (max-width: 1199px) {
  .promo {
    &__intro {
      &-item {
        padding: 33px 13px 20px 13px;
      }
      &-text {
        font-size: 22px;
        line-height: 25px;
      }
    }
  }
  .dishes {
    &__list {
      &-item {
        gap: 30px;
      }
      &-devider {
        width: 100px;
      }
    }
  }
  .menu {
    &__wrapper {
      grid-template-columns: repeat(3, minmax(auto, 290px));
    }
    &__item {
      padding: 80px 32px 30px 32px;
    }
  }
  .story {
    .container {
      grid-template-columns: 444px 500px;
    }
  }
}

@media (max-width: 991px) {
  .header {
    .contacts {
      display: none;
    }
  }
  .promo {
    min-height: 1555px;
    .container {
      min-height: 1555px;
    }
    &__wrapper {
      padding-top: 140px;
      width: 395px;
    }
    &__title {
      font-size: 65px;
      line-height: 70px;
    }
    &__subtitle {
      font-size: 40px;
      line-height: 50px;
    }
    &__descr:before {
      left: 40px;
    }
    &__descr:after {
      right: 40px;
    }
    &__intro {
      grid-template-columns: 350px;
      grid-template-rows: repeat(3, minmax(276px, auto));
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .story {
    padding-top: 75px;
    padding-bottom: 50px;
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
      gap: 45px;
    }
  }
  .celebrate {
    &__wrapper {
      display: block;
      padding-top: 50px;
      padding-bottom: 30px;
    }
    &__title {
      text-align: center;
    }
    &__subtitle {
      text-align: center;
      margin-bottom: 41px;
    }
  }
  .dishes {
    padding: 63px 0 126px 0;
    &__wrapper {
      margin-top: 68px;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 50px;
      justify-items: center;
    }
    &__img {
      img {
        display: block;
        margin: 0 auto;
        width: 100%;
      }
    }
    &__list {
      gap: 70px;
      width: 600px;
      &-item {
        gap: 70px;
      }
      &-devider {
        width: 204px;
      }
    }
  }
  .menu {
    padding-top: 62px;
    min-height: 838px;
    &__wrapper {
      margin-top: 98px;
      grid-template-columns: minmax(auto, 290px);
    }
    &__item:nth-child(1n + 2) {
      display: none;
    }
  }
  .reviews {
    padding: 30px 10px 80px 10px;
  }
  .food-gallery {
    padding-top: 71px;
  }
  .cooks {
    padding-top: 71px;
    &__wrapper {
      margin-top: 80px;
    }
  }
  .reservation {
    height: 566px;
  }
}

@media (max-width: 767px) {
  .header-fixed-block {
    position: fixed;
    width: 100%;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.9);
    z-index: 25;
  }
  .header-fixed-block-container {
    max-width: 540px;
    margin: 0 auto;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-top: 20px;
    &__logo {
      &:before,
      &:after {
        bottom: 5px;
        width: 22px;
        height: 22px;
      }
      &:before {
        left: 5px;
      }
      &:after {
        left: 21px;
      }
    }
    &__nav {
      position: fixed;
      z-index: 10;
      left: -100%;
      top: 0;
      background-color: rgba(0, 0, 0, 0.8);
      min-height: 100vh;
      width: 350px;
      padding-top: 120px;
      transition: all 0.6s;
      &_active {
        left: 0;
      }
      ul {
        display: block;
        li {
          margin-bottom: 20px;
          a {
            font-size: 24px;
            line-height: 34px;
          }
          .butn {
            display: none;
          }
        }
      }
    }
    .devider,
    .cart {
      display: none;
    }

    .hamburger {
      display: block;
      &_active {
        padding-bottom: 15px;
        span {
          margin-bottom: -3px;
          &:nth-child(1) {
            transform: translateY(3px) rotate(-45deg);
          }
          &:nth-child(2) {
            display: none;
          }
          &:nth-child(3) {
            transform: translateY(3px) rotate(45deg);
          }
        }
      }
    }
  }
  .butn {
    width: 139px;
    padding: 12px 9px;
  }
  .promo {
    &__wrapper {
      width: 300px;
      padding-top: 200px;
      a {
        margin-top: 31px;
      }
    }
    &__title {
      font-size: 40px;
      line-height: 46px;
    }
    &__subtitle {
      font-size: 30px;
      line-height: 34px;
    }
    &__descr {
      font-size: 15px;
      line-height: 20px;
      &:after,
      &:before {
        display: none;
      }
    }
  }
  .story {
    &__wrapper {
      h2 {
        font-size: 40px;
        line-height: 46px;
      }
      p {
        margin-top: 48px;
      }
    }
    &__table {
      grid-template-columns: 1fr;
      gap: 22px;
    }
  }
  .celebrate {
    &__title {
      font-size: 30px;
      line-height: 34px;
    }
  }
  .dishes {
    &__title {
      font-size: 40px;
      line-height: 46px;
    }
    &__list {
      width: 445px;
      &-devider {
        display: none;
      }
    }
  }
  .food-gallery {
    h2 {
      font-size: 40px;
      line-height: 46px;
    }
    &__wrapper {
      margin-top: 71px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      gap: 20px;
    }
    &__table,
    &__table2,
    &__coffee,
    &__coffee2,
    &__gulyash,
    &__gulyash2 {
      grid-row: unset;
      grid-column: unset;
      img {
        object-fit: cover;
      }
    }
  }
  .cooks {
    &__title {
      font-size: 40px;
      line-height: 46px;
    }
    &__wrapper {
      grid-template-columns: minmax(auto, 350px);
      justify-content: center;
    }
  }
}

@media (max-width: 575px) {
  .header {
    &__nav {
      width: 250px;
    }
  }
  .promo {
    &__wrapper {
      padding-top: 170px;
    }
    &__intro {
      grid-template-columns: 290px;
    }
  }
  .dishes {
    &__list {
      width: 100%;
      grid-template-rows: auto;
      &-item {
        gap: 8px;
        grid-template-columns: minmax(auto, 130px) auto;
        align-items: center;
        justify-content: unset;
      }
      &-text {
        display: block;
        text-align: center;
      }
    }
  }
  .reviews {
    .carousel-control-prev,
    .carousel-control-next {
      display: none;
    }
  }
  .food-gallery {
    &__wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 310px;
      grid-auto-rows: 310px;
    }
  }
  .cooks {
    padding-bottom: 21px;
  }
}
